.btn {
	background-color: white;
	border: none;
	font-size: 1.125rem;
	color: inherit;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.icon {
	vertical-align: middle;
	font-size: inherit;
	color: inherit;
	transition: transform 500ms ease-out;
}
.btn:hover .icon {
	transform: rotate(1turn);
}

.btn:hover {
	color: black;
	cursor: pointer;
}
