.more-quotes-container {
	width: 90%;
	margin-bottom: 2rem;
}
.more-quotes-container h2 {
	margin-bottom: 4rem;
	margin-left: 6.5rem;
}
.list-items {
	list-style: none;
}

.list-items li {
	font-size: 1.25rem;
	margin-bottom: 1rem;
}

@media (min-width: 768px) {
	.more-quotes-container {
		width: 50%;
	}
	.list-items li {
		margin-bottom: 2rem;
	}
}
