.author {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 1rem;
	transition: background-color 300ms ease-out;
	transition: transform 300ms ease-out;
}
.icon {
	color: white;
}
.author p {
	color: #828282;
}

.author:hover {
	background-color: #333333;
	color: #f2f2f2;
	cursor: pointer;
	transform: translateX(1rem);
}
